/* reset */
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font: 1.6rem sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

* {
  box-sizing: border-box;
}

hr {
  border-color: #ff6600;
  width: 60rem;
  margin: 0 auto;
}

/* HEADER */
#nav1 {
  display: inline-block;
  margin-top: -2rem;
  font-family: "Montserrat", sans-serif;
}

#adresse {
  margin: 5rem 0rem 0rem 3rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#slogan {
  margin: -2.2rem 0rem 0rem 35rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
  text-align: center;
}

#slogan:hover {
  color: #ff6600;
  transition: 0.5s;
}

#tel {
  position: absolute;
  margin: -3.5rem 0rem 0rem 122rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#nav2 {
  margin: 1rem 0rem 0rem 0rem;
  background-color: #f5f5f5;
  max-width: 100%;
  width: 100%;
  height: 8rem;
  position: fixed;
  opacity: 0.7;
}

#logo {
  position: fixed;
  max-width: 100%;
  width: 9rem;
  height: 8rem;
  margin: 0rem 0rem 0rem 10rem;
}

nav {
  overflow: hidden;
  text-align: center;
  font-size: 1.7rem;
  margin: 3rem 0rem 0rem 45rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ff6600;
  padding: 4rem;
}

nav a:hover {
  color: rgb(49, 49, 49);
  transition: 0.5s;
}

#langue a {
  font-size: 1.6rem;
  padding: 14px 16px;
  color: #ff6600;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
}

#langue a:hover {
  color: #222;
}

#langue #submenu {
  display: none;
  position: absolute;
  min-width: 16rem;
}

#submenu a {
  padding: 12px 16px;
  display: block;
  margin-right: 22rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: center;
  background-color: #f5f5f5;
}

#langue:hover #submenu {
  display: block;
  transition: 0.5s;
}

/* MAIN */

#homepage {
  max-width: 100%;
  margin: 10rem 0rem 0rem 0rem;
}

#homepage img {
  width: 134.5rem;
}

#ad {
  color: #f5f5f5;
}

#ad p {
  margin: -57rem 0rem 0rem 0rem;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#arrow img {
  max-width: 100%;
  width: 7rem;
  margin: 15rem 0rem 0rem 64rem;
  opacity: 0.7;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

#title {
  margin: 17rem 0rem 0rem 55rem;
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
}

#title p {
  margin-top: -1rem;
  font-family: "Montserrat", sans-serif;
}

#title hr {
  width: 28rem;
  margin-left: 0rem;
  border-color: #ff6600;
  margin-top: -0.1rem;
}

#us {
  max-width: 100%;
}

#us img {
  width: 50rem;
  border-radius: 2rem;
  margin: 6rem 0rem 0rem 10rem;
}

#us h1 {
  font-size: 4rem;
  margin: -35rem 0rem 0rem 90rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#us p {
  margin: 1rem 0rem 0rem 70rem;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

#logo3 img {
  max-width: 100%;
  width: 23rem;
  margin: -2rem 0rem 0rem 85rem;
}

#target2 {
  margin-top: 3rem;
  margin-left: 37rem;
}

#langue_ethiopie p {
  font-size: 4rem;
  margin: 20rem 0rem 0rem 26rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#langue_ethiopie img {
  max-width: 100%;
  width: 8rem;
  margin: -5rem 0rem 2rem 100rem;
  border-radius: 2rem;
}

#liste_langue {
  border: 28rem solid #222;
}

#amhara {
  color: #f5f5f5;
  background-color: #222;
}

#amhara img {
  max-width: 100%;
  width: 15rem;
  margin: -20rem 0rem 10rem 0rem;
  border-radius: 2rem;
}

#amhara p {
  font-size: 2rem;
  margin: -7rem 0rem 0rem -65rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#hadiya {
  color: #f5f5f5;
  background-color: #222;
}

#hadiya img {
  max-width: 100%;
  width: 15rem;
  margin: -20rem 0rem 11.5rem 57.3rem;
  border-radius: 2rem;
}

#hadiya p {
  font-size: 2rem;
  margin: -8.9rem -6rem 0rem 45rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#tigre {
  color: #f5f5f5;
  background-color: #222;
}

#tigre img {
  max-width: 100%;
  width: 15rem;
  margin: 25rem 0rem 10rem 0rem;
  border-radius: 2rem;
}

#tigre p {
  font-size: 2rem;
  margin: -7rem 0rem 0rem -65rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#oromo {
  color: #f5f5f5;
  background-color: #222;
}

#oromo img {
  max-width: 100%;
  width: 15rem;
  margin: -20rem 0rem 11.5rem 57.3rem;
  border-radius: 2rem;
}

#oromo p {
  font-size: 2rem;
  margin: -8.7rem -6rem 0rem 45rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

span {
  color: #ff6600;
}

#target3 {
  margin-top: 3rem;
  margin-left: 37rem;
}

#langue_erythree p {
  font-size: 4rem;
  margin: 20rem 0rem 0rem 28rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#langue_erythree img {
  max-width: 100%;
  width: 8rem;
  margin: -5rem 0rem 2rem 100rem;
  border-radius: 2rem;
}

#paysage_erythree p {
  font-size: 3rem;
  color: #ff6600;
  margin: 0rem 0rem 0rem 35rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#paysage_erythree img {
  max-width: 100%;
  width: 60rem;
  height: 30rem;
  margin: 2rem 0rem 0rem 7rem;
  border-radius: 2rem;
}

#desc_erythree p {
  font-size: 2rem;
  margin: -33rem 0rem 0rem 70rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#target4 {
  margin-top: 10rem;
  margin-left: 37rem;
}

#langue_arabe p {
  font-size: 4rem;
  margin: 18rem 0rem 0rem 28rem;
  font-weight: bold;
}

#langue_arabe img {
  max-width: 100%;
  width: 7rem;
  margin: -5rem 0rem 2rem 92rem;
  border-radius: 5rem;
}

#paysage_arabe p {
  font-size: 3rem;
  color: #ff6600;
  margin: 0rem 0rem 0rem 35rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#paysage_arabe img {
  max-width: 100%;
  width: 40rem;
  height: 40rem;
  margin: 2rem 0rem 0rem 7rem;
  border-radius: 2rem;
}

#desc_arabe p {
  font-size: 2rem;
  margin: -30rem 0rem 0rem 50rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#target5 {
  margin-top: 20rem;
}

#contact {
  max-width: 100%;
  display: block;
}

#contact p {
  margin: 17rem 0rem 0rem 55rem;
  font-size: 2.7rem;
  font-family: "Montserrat", sans-serif;
}

#contact hr {
  width: 21.2rem;
  margin-left: 55.1rem;
  border-color: #ff6600;
  margin-top: -0.1rem;
}

#contact img {
  max-width: 100%;
  width: 60rem;
  margin: 5rem 0rem 0rem 7rem;
  border-radius: 2rem;
  height: 30rem;
}

form {
  max-width: 60rem;
  margin: -33rem 0rem 0rem 70rem;
  padding: 1rem;
}
input,
label {
  display: block;
  width: 100%;
  resize: none;
}
input[type="text"],
input[type="mail"] {
  padding: 0.1rem;
  line-height: 2.5rem;
  border: solid 0.1rem transparent;
  border-bottom-color: #ccc;
  margin-bottom: 1rem;
}
label {
  padding: 5px;
  color: #333;
}
input[type="submit"] {
  background: #ff6600;
  line-height: 4.5rem;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 0.4rem;
  font-size: inherit;
  cursor: pointer;
}
textarea {
  display: block;
  width: 100%;
  resize: none;
  height: 10rem;
}

#adressef {
  font-weight: bold;
  margin: -4rem 0rem 0rem 10rem;
}

#telf {
  font-weight: bold;
  margin: -1.8rem 0rem 0rem 43rem;
}
