@media only screen and (max-width: 600px) {
  /* reset */
  html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Open Sans", sans-serif;
    font: 1.6rem sans-serif;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  ul,
  p,
  figure {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #222;
  }

  * {
    box-sizing: border-box;
  }
  /*************************************/
  #nav1 {
    display: flex;
    float: right;
    font-size: 1rem;
  }

  #adresse {
    margin: 2rem 0rem 0rem 0rem;
  }

  #slogan {
    margin: 2rem 0rem 0rem 2rem;
    font-size: large;
    font-weight: bold;
  }

  #tel {
    margin: 2rem 0rem 0rem 0rem;
  }
}
