/* reset */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font: 1.6rem sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

* {
  box-sizing: border-box;
}

/* HEADER */
#nav1 {
  display: inline-block;
}

#adresse {
  margin: 3rem 0rem 0rem 3rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#slogan {
  margin: -2.2rem 0rem 0rem 35rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
  text-align: center;
}

#slogan:hover {
  color: #ff6600;
  transition: 0.5s;
}

#tel {
  position: absolute;
  margin: -3.5rem 0rem 0rem 122rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#nav2 {
  margin: 2rem 0rem 0rem 0rem;
  background-color: #f5f5f5;
  max-width: 100%;
  height: 7rem;
}

#logo {
  max-width: 10rem;
  margin: 0rem 0rem 0rem 5rem;
}

nav {
  overflow: hidden;
  text-align: center;
  font-size: 1.7rem;
  margin: -8rem 0rem 0rem 45rem;
  font-weight: bold;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ff6600;
  padding: 4rem;
}

nav a:hover {
  color: rgb(49, 49, 49);
  transition: 0.5s;
}

#langue a {
  font-size: 16px;
  padding: 14px 16px;
  color: #ff6600;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
}

#langue a:hover {
  color: #222;
}

#langue #submenu {
  display: none;
  position: absolute;
  min-width: 16rem;
}

#submenu a {
  padding: 12px 16px;
  display: block;
  margin-right: 22rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: center;
}

#langue:hover #submenu {
  display: block;
  transition: 0.5s;
}

/* MAIN */

#homepage {
  max-width: 100%;
  margin: 0 auto;
}

#homepage img {
  width: 134.5rem;
}

#ad {
  color: #f5f5f5;
}

#ad p {
  margin: -55rem 0rem 0rem 0rem;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
}

#arrow img {
  max-width: 100%;
  width: 7rem;
  margin: 15rem 0rem 0rem 64rem;
  opacity: 0.7;
}
