/* reset */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font: 1.6rem sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

* {
  box-sizing: border-box;
}

/*************************************/
#nav1 {
  display: inline-block;
}

#adresse {
  margin: 2rem 0rem 0rem 3rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#slogan {
  margin: -2.2rem 0rem 0rem 33rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#slogan:hover {
  color: #ff6600;
  transition: 0.5s;
}

#tel {
  margin: -1.9rem 0rem 0rem 115rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

#nav2 {
  display: inline-block;
  background-color: #f5f5f5;
}

#logo {
  max-width: 15rem;
  margin: 2rem 0rem 0rem 5rem;
}

nav {
  overflow: hidden;
  text-align: center;
  font-size: 1.7rem;
  margin: -12rem 0rem 0rem 45rem;
  font-weight: bold;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ff6600;
  padding: 2.5rem;
}

nav a:hover {
  color: rgb(49, 49, 49);
  transition: 0.5s;
}

#submenu {
  display: none;
  position: absolute;
  min-width: 16rem;
}

#submenu a {
  padding: 12px 16px;
  display: block;
  margin-right: 20rem;
  font-size: 1.3rem;
  margin-top: -1rem;
}

#langue:hover #submenu {
  display: block;
}
