/* reset */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font: 1.6rem sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
ul,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

* {
  box-sizing: border-box;
}

/*************************************/
#nav1 {
  display: inline-block;
}

#adresse {
  margin: 2rem 0rem 0rem 2rem;
}

#slogan {
  margin: -2rem 0rem 0rem 33rem;
  font-size: large;
  font-weight: bold;
}

#tel {
  margin: -1.9rem 0rem 0rem 110rem;
}

#nav2 {
  display: inline-block;
  background-color: #f5f5f5;
}

#logo {
  max-width: 15rem;
}
